pkgbase = ruby-rugged
	pkgdesc = Rugged is a Ruby binding to the libgit2 linkable library
	pkgver = 0.27.0
	pkgrel = 1
	url = https://github.com/libgit2/rugged
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = ruby
	depends = libgit2
	depends = ruby-rdoc
	noextract = rugged-0.27.0.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rugged-0.27.0.gem
	sha1sums = 66cd5b1a5db5b2960e6ac7f2ddd23d8ca82087e6

pkgname = ruby-rugged

